[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
flask = "*"
pydantic = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-graphql = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
